name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Add Pulumi Homebrew Tap
        run: brew tap pulumi/tap .
      - name: Try to Install Pulumi
        run: brew install pulumi/tap/pulumi
      - name: Check pulumi version
        id: vars
        run: |
          vergte() {
            [  "$1" = "`echo -e "$2\n$1" | sort -V | head -n1`" ]
          }

          which pulumi
          installed_version=$(pulumi version)
          expected_version=v$(curl -sS https://www.pulumi.com/latest-version)
          if vergte $expected_version $installed_version; then
            exit 0
          else
            echo "Expected version $expected_version to be greater or equal than $installed_version"
            exit 1
          fi
      - name: Test Pulumi
        run: |
          mkdir /tmp/pulumi-test
          cd /tmp/pulumi-test
          pulumi login --local
          pulumi new typescript -y
          pulumi up --yes --non-interactive
          pulumi destroy --yes --non-interactive
        env:
          PULUMI_CONFIG_PASSPHRASE: password
